/* Conteiner for elements */

%container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

%reset-list {
    list-style: none;
}

%reset-link {
    text-decoration: none;
    color: currentColor;
}